# Backend
backend/.gradle/
backend/build/
backend/bin/
backend/.classpath
backend/.project
backend/.settings/
backend/.idea/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# Environment
*.env
.env

# OS
.DS_Store
Thumbs.db